*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    
}

.bgGreen{
    background-color: #02A28F;
    color: #ffffff;display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    margin: 0 0 20px;


}

.bgGreen > a{
    color: white;
}

.bgArredondado{
    border-radius: 8px;

}

h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;

}

main{
    padding: 60px 10%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: space-between;

}

header{
    padding: 0 8%;
    height: 70px;
    align-items: center;
    display: flex;

}
/*
.post{
    width: 100%;
}*/

#firstPost {
    background-image: url(img/firstPost.jpg);
    width: 800px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: left;
    align-items: end;
    
    
}

#firstPost > a{
    color: #ffffff;
    text-decoration: none;
    
}

#firstPost > h2{
    font-size: 32px;
}


#sideBar{
    width: 500px;
    
}

#recentes{
    margin-top: 20px;
    width: 800px;
}

#containerCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.cardPost {
    width: 400px; /* Ajuste conforme necessário */
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.imgPost {
    width: 100%;
    height: 200px; /* Defina uma altura fixa */
    object-fit: cover; /* Mantém a proporção e corta o excesso */
}

.textPost{
    padding-bottom: 50px;
    padding-left: 10px;
    
}

.categoriaPost,
.nomePost,
.descricaoPost,
.data{
    padding: 10px;
}
.textPost > h3{
    padding: 5px 10px;
}

footer{
    color: white;
    text-align: center;
    font-size: 14px;
    height: 48px;

}
