*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    
}

html{
    height: 100%;
    width: 100%;
}


.bgGreen{
    background-color: #02A28F;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    margin: 0 0 20px;
    width: 100%;
}

.bgGreen > a{
    color: white;
}

.bgArredondado{
    border-radius: 8px;

}

h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;

}

main{
    padding: 60px 140px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;

}

header{
    padding: 0 8%;
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;

}



#firstPost {
    background-image: url(img/firstPost.jpg);
    width: 97%;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: left;
    align-items: end;
    
    
}

#firstPost > a{
    color: #ffffff;
    text-decoration: none;
    
}

#firstPost > h2{
    font-size: 32px;
}


#sideBar{
    width: 100%;
    
}

#recentes{
    margin-top: 20px;
    width: 97%;
}

#containerCard{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: stretch;
    
}

.cardPost {
    width: 100%; /* Ajuste conforme necessário */
    height: 470px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    
}

.imgPost {
    width: 100%;
    height: 200px; /* Defina uma altura fixa */
    object-fit: cover; /* Mantém a proporção e corta o excesso */
}

.textPost{
    padding-bottom: 50px;
    padding-left: 10px;

    max-width: 100%; /* Para evitar que o texto ultrapasse os limites */

    
}

.categoriaPost,
.nomePost,
.descricaoPost,
.data{
    padding-left: 10px;
    padding-right: 10px;
}

.data{
    margin-top: 8%;
}

.categoriaPost{
    color: #02A28F;
    font-size: 14px;
    margin: 20px 0 10px;
}
.textPost > h3{
    padding:  0 10px 8px;
    font-size: 20px;
}

.textPost p{
    font-size: 14px;
    margin-bottom: 10px;
}
.descricaoPost {
    display: -webkit-box; /* Adiciona a exibição em caixa flexível */
    -webkit-line-clamp: 3; /* Limita a 3 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." quando ultrapassar o limite */
    word-break: break-word; /* Garante que palavras longas sejam quebradas */

}


.textPost .data ,
.nomePost,
.dataPopular{
    color: #616161;
    font-weight: 500;
}

#byPost{
    font-weight: bolder;
}

.cardPopular {
    box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 1px 13px 0px rgba(0,0,0,0.20);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    padding: 10px;
    justify-content: left;
    
}

.textCard{
    margin: auto 20px;
}

.textCard h4{
    font-size: 18px;
    margin-bottom: 20px;
}

#categoriaList ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#categoriaList > ul >li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

#linkCategoria{
    margin-left: auto;
}

#categoriaList a{
    text-decoration: none;
    color: black;
}


footer{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    height: 48px;
}

footer > h3{
    margin: auto;
}





@media (min-width:1025px) and (max-width:1300px) {


    

    #containerCard{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .cardPost {
        width: 100%; 
        height: 380px;
        margin: auto;
    }
}


@media (min-widht:401px) and (max-width: 1024px) {
    

    main {
        padding: 40px 20px;
        grid-template-columns: 1fr; 
        gap: 50px;
    }

    .bgGreen{
        width: 100%;
    }

    #firstPost {
        width: 94%;
        height: 350px;
    }

    #recentes{
        width: 94%;
    }

    #containerCard{
        grid-template-columns: 1fr;
        width: 98%;

    }

    
    
    .cardPost {
        width: 98%; 
        height: 450px;
        margin: auto;
    }

    .imgPost {
        height: 200px; /* Defina uma altura fixa */
    }


    #popular,#titleCategoria{
        width: 94%;
    }
    

    .cardPopular {
        width: 94%;
    }

    #categoriaList > ul >li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        padding: 5px;
    }
    


}

@media (max-widht:400px) {

    main {
        padding: 40px 20px;
        grid-template-columns: 1fr; 
        gap: 50px;
    }

    .bgGreen{
        width: 100%;
    }

    #firstPost {
        width: 90%;
        height: 350px;
    }

    #recentes{
        width: 94%;
    }

    #containerCard{
        grid-template-columns: 1fr;
        width: 98%;

    }

    
    
    .cardPost {
        width: 98%; 
        height: 450px;
        margin: auto;
    }

    .imgPost {
        height: 200px; /* Defina uma altura fixa */
    }


    #popular,#titleCategoria{
        width: 94%;
    }
    

    .cardPopular {
        width: 94%;
    }

    #categoriaList > ul >li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        padding: 5px;
    }
    

    
}
